<div class="modal fade" id="addedBasket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sepete Eklendi</h5>
            </div>
            <div class="modal-body">
                Ürününüz sepete eklendi. Sepete tıklayarak alışverişinizi gerekleştirebilirsiniz.
            </div>
            <div class="modal-footer">
                <button id="close" type="submit" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>