@using Supermarket.Core.Domains;
@model Product

<div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Emin misin ?</h5>
            </div>
            <div class="modal-body">
                Silmek istediğine emin misin ?
            </div>
            <div class="modal-footer">
                <button id="close" type="submit" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <a href="/Product/RemoveProduct/@Model.Id" class="btn btn-danger">Sil</a>
            </div>
        </div>
    </div>
</div>