@{
    ViewData["Title"] = "Ürün Ekle";
}

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
{
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ürün Adı</span>
        <input type="text" class="form-control" placeholder="Ürün Adı" name="Name" aria-label="name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ürün Türü</span>
        <input type="text" class="form-control" placeholder="Ürün Türü" name="Type" aria-label="name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ürün Stok</span>
        <input type="text" class="form-control" placeholder="Ürün Stok" name="Stock" aria-label="name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ürün Fiyatı</span>
        <input type="text" class="form-control" placeholder="Ürün Fiyatı" name="Price" aria-label="name" aria-describedby="basic-addon1">
    </div>

    <input type="submit" class="btn btn-primary" value="Ürün Ekle" />
    <a class="btn btn-success" href="/product/index">Ürünleri Listele</a>
}