@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Username</span>
        <input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input type="password" class="form-control" placeholder="Password" name="password" aria-label="Password" aria-describedby="basic-addon1">
    </div>

    <input type="submit" value="Login" />
}